/* Foundation v2.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/*
    ONE CLIPBOARD

--------------------------------------------------------------------- 
   Table of Contents
---------------------------------------------------------------------
:: Notes

:: Shared Styles
:: Global Header

:: Event Profile
 : Event Navigation
 : Event Content
 : Event Contacts
 : Event Elements
 : Event Timeline
 
:: Event > In Element
 : Event > Tasks
 : Event > Budget Overview

:: Quick add

    ----------------------------------------------------------------
    Notes
    ----------------------------------------------------------------
    
    Branding 
        green         ... #32B665
          light green ... #EAf5E7
          gray green  ... #E8EbE7
          dark green  ... #647B6C
        
        brown         ... #564f48
          med brwn    ... #76716a
          ml   brwn   ... #DEDCD8
          lgt brwn    ... #f8f7f4
          
        orange        ... #ff7c11
          lgt orng    ... #fe9741
          
        gray          ... #e7e8e9
          light gray  ... #f3f3f4
        
        blue          ... #72bec9
        
        (old) orange  ... #fcb040
            
    Event Profile
        Image is 252 x 165px
        
    Z-index Index
        10 ul#gridElementSelect
        20 table tbody tr td ul.selectReplacement.selectOpen
        30 div.quick-box
        40 div.element-util-belt
        50 .timePickBox
        60 ul.event-nav li.active a
        
*/

@font-face {
    font-family: GibsonBold;
    src: url(/fonts/gibson/Gibson-Bold-webfont.eot);
    src: url(/fonts/gibson/Gibson-Bold-webfont.svg);
    src: url(/fonts/gibson/Gibson-Bold-webfont.ttf);
    src: url(/fonts/gibson/Gibson-Bold-webfont.woff);
}

@font-face {
    font-family: GibsonBoldItalic;
    src: url(/fonts/gibson/Gibson-BoldItalic-webfont.eot);
    src: url(/fonts/gibson/Gibson-BoldItalic-webfont.svg);
    src: url(/fonts/gibson/Gibson-BoldItalic-webfont.ttf);
    src: url(/fonts/gibson/Gibson-BoldItalic-webfont.woff);
}

@font-face {
    font-family: GibsonSemiBold;
    src: url(/fonts/gibson/Gibson-SemiBold-webfont.eot);
    src: url(/fonts/gibson/Gibson-SemiBold-webfont.svg);
    src: url(/fonts/gibson/Gibson-SemiBold-webfont.ttf);
    src: url(/fonts/gibson/Gibson-SemiBold-webfont.woff);
}

@font-face {
    font-family: GibsonSemiBoldItalic;
    src: url(/fonts/gibson/Gibson-SemiBoldItalic-webfont.eot);
    src: url(/fonts/gibson/Gibson-SemiBoldItalic-webfont.svg);
    src: url(/fonts/gibson/Gibson-SemiBoldItalic-webfont.ttf);
    src: url(/fonts/gibson/Gibson-SemiBoldItalic-webfont.woff);
}

@font-face {
    font-family: GibsonRegular;
    src: url(/fonts/gibson/Gibson-Regular-webfont.eot);
    src: url(/fonts/gibson/Gibson-Regular-webfont.svg);
    src: url(/fonts/gibson/Gibson-Regular-webfont.ttf);
    src: url(/fonts/gibson/Gibson-Regular-webfont.woff);
}

@font-face {
    font-family: GibsonBoldItalic;
    src: url(/fonts/gibson/Gibson-BoldItalic-webfont.eot);
    src: url(/fonts/gibson/Gibson-BoldItalic-webfont.svg);
    src: url(/fonts/gibson/Gibson-BoldItalic-webfont.ttf);
    src: url(/fonts/gibson/Gibson-BoldItalic-webfont.woff);
}

@font-face {
    font-family: GibsonLight;
    src: url(/fonts/gibson/Gibson-Light-webfont.eot);
    src: url(/fonts/gibson/Gibson-Light-webfont.svg);
    src: url(/fonts/gibson/Gibson-Light-webfont.ttf);
    src: url(/fonts/gibson/Gibson-Light-webfont.woff);
}
    @font-face {
        font-family: 'ApexSansBold';
        src: url('/fonts/apexsans-bold-webfont.eot');
        src: url('/fonts/apexsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
             url('/fonts/apexsans-bold-webfont.woff') format('woff'),
             url('/fonts/apexsans-bold-webfont.ttf') format('truetype'),
             url('/fonts/apexsans-bold-webfont.svg#ApexSansBold') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "MarvelBold";
        font-style: normal;
        font-weight: normal;
        src: url("/fonts/marvel-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/marvel-bold-webfont.woff") format("woff"), url("/fonts/marvel-bold-webfont.ttf") format("truetype"), url("/fonts/marvel-bold-webfont.svg#MarvelBold") format("svg");
    }
    @font-face {
        font-family: "MarvelRegular";
        font-style: normal;
        font-weight: normal;
        src: url("/fonts/marvel-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/marvel-regular-webfont.woff") format("woff"), url("/fonts/marvel-regular-webfont.ttf") format("truetype"), url("/fonts/marvel-regular-webfont.svg#MarvelRegular") format("svg");
    }

    @font-face {
      font-family: "Shifticons";
      src: url("/fonts/shifticons.eot"); /* IE9 Compat Modes */
      src: url("/fonts/shifticons.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
           url("/fonts/shifticons.woff") format("woff"), /* Modern Browsers */
           url("/fonts/shifticons.ttf")  format("truetype"), /* Safari, Android, iOS */
           url("/fonts/shifticons.svg#Shifticons") format("svg"); /* Legacy iOS */
    }

    ::-webkit-input-placeholder {
       font-family: 'gibsonLight';
    }

    :-moz-placeholder {
       font-family: 'gibsonLight';
    }

    ::-moz-placeholder { 
       font-family: 'gibsonLight';
    }

    :-ms-input-placeholder {  
       font-family: 'gibsonLight';
    }

/* Shifticon styles */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: Shifticons;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: inherit;
  padding-right: .25em;
  -webkit-font-smoothing: antialiased;
}

/* Order-specific styles */
.icon-book:before { content: ""; }
.icon-pin:before { content: ""; }
.icon-picture:before { content: ""; }
.icon-write:before { content: ""; }
.icon-calendar:before { content: ""; }
.icon-clock:before { content: ""; }
.icon-heart:before { content: ""; }
.icon-email:before { content: ""; }
.icon-layout:before { content: ""; }
.icon-list:before { content: ""; }
.icon-bookmark:before { content: ""; }
.icon-chart:before { content: ""; }
.icon-key:before { content: ""; }
.icon-link:before { content: ""; }
.icon-trash:before { content: ""; }
.icon-back:before { content: ""; }
.icon-upload:before { content: ""; }
.icon-download:before { content: ""; }
.icon-sync:before { content: ""; }
.icon-arrow-right:before { content: ""; }
.icon-cog:before { content: ""; }
.icon-folder:before { content: ""; }
.icon-lock:before { content: ""; }
.icon-bullhorn:before { content: ""; }
.icon-paper-plane:before { content: ""; }
.icon-twitter:before { content: ""; }
.icon-facebook:before { content: ""; }
.icon-paintbrush:before { content: ""; }
.icon-delete:before { content: ""; }
.icon-eye:before { content: ""; }
.icon-camera:before { content: ""; }
.icon-video:before { content: ""; }
.icon-sixteenth-notes:before { content: ""; }
.icon-comments:before { content: ""; }
.icon-close-2:before { content: ""; }
.icon-down:before { content: ""; }
.icon-left:before { content: ""; }
.icon-right:before { content: ""; }
.icon-up:before { content: ""; }
.icon-view-by-column:before { content: ""; }
.icon-grid-solid:before { content: ""; }
.icon-notify:before { content: ""; }
.icon-newspaper:before { content: ""; }
.icon-view-by-row:before { content: ""; }

.icon-star:before { content: ""; }
.icon-arrow-short-up:before { content: ""; }
.icon-arrow-down:before { content: ""; }





/* IE8 hack */
@media \0screen\,screen\9 { body:hover{} }

/*
 * Shifticons (shifticons.com)
 * Order #1650
*/

@font-face {
  font-family: "Shifticons2";
  src: url("/fonts/shifticons2.eot"); /* IE9 Compat Modes */
  src: url("/fonts/shifticons2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("/fonts/shifticons2.woff") format("woff"), /* Modern Browsers */
       url("/fonts/shifticons2.ttf")  format("truetype"), /* Safari, Android, iOS */
       url("/fonts/shifticons2.svg#Shifticons") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Shifticons1719";
  src: url("/fonts/icons/shifticons-1719.eot"); /* IE9 Compat Modes */
  src: url("/fonts/icons/shifticons-1719.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("/fonts/icons/shifticons-1719.woff") format("woff"), /* Modern Browsers */
       url("/fonts/icons/shifticons-1719.ttf")  format("truetype"), /* Safari, Android, iOS */
       url("/fonts/icons/shifticons-1719.svg#Shifticons") format("svg"); /* Legacy iOS */
}

/*
 * Shifticons (shifticons.com)
 * Order #1783
*/

@font-face {
  font-family: "Shifticons_1783";
  src: url("/fonts/icons/shifticons_1783.eot"); /* IE9 Compat Modes */
  src: url("/fonts/icons/shifticons_1783.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("/fonts/icons/shifticons_1783.woff") format("woff"), /* Modern Browsers */
       url("/fonts/icons/shifticons_1783.ttf")  format("truetype"), /* Safari, Android, iOS */
       url("/fonts/icons/shifticons_1783.svg#Shifticons") format("svg"); /* Legacy iOS */
}

/* Shifticon styles */
[class^="icon2-"]:before, [class*=" icon2-"]:before {
  font-family: Shifticons_1783;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: inherit;
  padding-right: .25em;
  -webkit-font-smoothing: antialiased;
}

/* Order-specific styles */
.icon2-star:before { content: ""; }
.icon2-arrow-short-up:before { content: ""; }
.icon2-arrow-down:before { content: ""; }
.icon2-flag-waving:before { content: ""; }
.icon2-cloud-upload:before { content: ""; }
.icon2-arrow-up:before { content: ""; }
.icon2-tags:before { content: ""; }
.icon2-lock-open:before { content: ""; }
.icon2-heart:before { content: ""; }
.icon2-move:before { content: ""; }
.icon2-battery-one-third:before { content: ""; }
.icon2-arrow-right:before { content: ""; }
.icon2-flag:before { content: ""; }
.icon2-location-pin:before { content: ""; }
.icon2-lock:before { content: ""; }
.icon2-comment-solid-left:before { content: ""; }
.icon2-connection:before { content: ""; }
.icon2-document:before { content: ""; }
.icon2-bird:before { content: ""; }
.icon2-eject:before { content: ""; }
.icon2-list:before { content: ""; }
.icon2-edit:before { content: ""; }
.icon2-crosshairs:before { content: ""; }
.icon2-arrow-left:before { content: ""; }
.icon2-sound-no-volume:before { content: ""; }
.icon2-setting:before { content: ""; }
.icon2-rss:before { content: ""; }
.icon2-equals:before { content: ""; }
.icon2-growth:before { content: ""; }
.icon2-arrow-short-right:before { content: ""; }
.icon2-alert:before { content: ""; }
.icon2-clock:before { content: ""; }
.icon2-kindle:before { content: ""; }
.icon2-user:before { content: ""; }
.icon2-settings:before { content: ""; }
.icon2-documents-solid:before { content: ""; }
.icon2-bar-chart:before { content: ""; }
.icon2-mobile-android:before { content: ""; }
.icon2-camera-dslr:before { content: ""; }
.icon2-map:before { content: ""; }
.icon2-comment-solid-right:before { content: ""; }
.icon2-battery-two-thirds:before { content: ""; }
.icon2-refresh:before { content: ""; }
.icon2-email-solid:before { content: ""; }
.icon2-home:before { content: ""; }
.icon2-pencil:before { content: ""; }
.icon2-play:before { content: ""; }
.icon2-checkmark:before { content: ""; }
.icon2-battery-full:before { content: ""; }
.icon2-comment-left:before { content: ""; }
.icon2-location-compass:before { content: ""; }
.icon2-list-bulleted:before { content: ""; }
.icon2-email-outline:before { content: ""; }
.icon2-star-2:before { content: ""; }
.icon2-cloud-download:before { content: ""; }
.icon2-search:before { content: ""; }
.icon2-cart-add:before { content: ""; }
.icon2-delete:before { content: ""; }
.icon2-expand:before { content: ""; }
.icon2-camera:before { content: ""; }
.icon2-map-empty:before { content: ""; }
.icon2-arrow-short-down:before { content: ""; }
.icon2-document-solid:before { content: ""; }
.icon2-download:before { content: ""; }
.icon2-arrow-short-left:before { content: ""; }
.icon2-users:before { content: ""; }
.icon2-minus:before { content: ""; }
.icon2-mobile-iphone:before { content: ""; }
.icon2-picture-solid:before { content: ""; }
.icon2-laptop:before { content: ""; }
.icon2-documents-solid-blank:before { content: ""; }
.icon2-documents-blank:before { content: ""; }
.icon2-document-blank:before { content: ""; }
.icon2-picture:before { content: ""; }
.icon2-mobile-device:before { content: ""; }
.icon2-eye:before { content: ""; }
.icon2-documents:before { content: ""; }
.icon2-sound:before { content: ""; }
.icon2-divide:before { content: ""; }
.icon2-home-alternate:before { content: ""; }
.icon2-browser:before { content: ""; }
.icon2-pause:before { content: ""; }
.icon2-comments:before { content: ""; }
.icon2-sync:before { content: ""; }
.icon2-battery-empty:before { content: ""; }
.icon2-cloud:before { content: ""; }
.icon2-battery-charged:before { content: ""; }
.icon2-cart-empty:before { content: ""; }
.icon2-monitor:before { content: ""; }
.icon2-link:before { content: ""; }
.icon2-cart:before { content: ""; }
.icon2-cloud-add:before { content: ""; }
.icon2-tag:before { content: ""; }
.icon2-fast-forward:before { content: ""; }
.icon2-tablet:before { content: ""; }
.icon2-calendar:before { content: ""; }
.icon2-bookmark:before { content: ""; }
.icon2-info:before { content: ""; }
.icon2-pen:before { content: ""; }
.icon2-comment-right:before { content: ""; }
.icon2-plus:before { content: ""; }
.icon2-reception:before { content: ""; }
.icon2-clock-alarm:before { content: ""; }


/* IE8 hack */
@media \0screen\,screen\9 { body:hover{} }

/* Shifticon styles */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: Shifticons;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: inherit;
  padding-right: .25em;
  -webkit-font-smoothing: antialiased;
}

/* Order-specific styles */
.icon-lightning:before { font-family:"Shifticons2"; content: ""; }
.icon-house:before { font-family:"Shifticons2"; content: ""; }


/* IE8 hack */
@media \0screen\,screen\9 { body:hover{} }

/* Shifticon styles */
[class^="icons3-"]:before, [class*=" icons3-"]:before {
  font-family: Shifticons1719;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: inherit;
  padding-right: .25em;
  -webkit-font-smoothing: antialiased;
}

/* Order-specific styles */
.icons3-unlock:before { content: ""; }
.icons3-vimeo:before { content: ""; }
.icons3-wrench:before { content: ""; }
.icons3-lock:before { content: ""; }
.icons3-twitter-bird:before { content: ""; }
.icons3-gear1:before { content: ""; }
.icons3-journal:before { content: ""; }
.icons3-ipod-gen4:before { content: ""; }
.icons3-fries:before { content: ""; }
.icons3-rss:before { content: ""; }
.icons3-mail:before { content: ""; }
.icons3-avatar:before { content: ""; }
.icons3-cloud-upload:before { content: ""; }
.icons3-paper-clip:before { content: ""; }
.icons3-pie-chart:before { content: ""; }
.icons3-group-avatar:before { content: ""; }
.icons3-crate:before { content: ""; }
.icons3-scale:before { content: ""; }
.icons3-speech-bubble:before { content: ""; }
.icons3-magic-wand:before { content: ""; }
.icons3-shopping-cart:before { content: ""; }
.icons3-code-brackets:before { content: ""; }
.icons3-photo:before { content: ""; }
.icons3-refresh:before { content: ""; }
.icons3-ipod-gen3:before { content: ""; }
.icons3-address-book:before { content: ""; }
.icons3-printer:before { content: ""; }
.icons3-home:before { content: ""; }
.icons3-pencil:before { content: ""; }
.icons3-notes:before { content: ""; }
.icons3-gear2:before { content: ""; }
.icons3-check-mark:before { content: ""; }
.icons3-doc-complete:before { content: ""; }
.icons3-sunshine:before { content: ""; }
.icons3-ipod-gen2:before { content: ""; }
.icons3-docs:before { content: ""; }
.icons3-glasses:before { content: ""; }
.icons3-cheeseburger:before { content: ""; }
.icons3-ipod-shuffle:before { content: ""; }
.icons3-paper:before { content: ""; }
.icons3-music-note:before { content: ""; }
.icons3-camera1:before { content: ""; }
.icons3-minus:before { content: ""; }
.icons3-clipboard:before { content: ""; }
.icons3-cloud-download:before { content: ""; }
.icons3-coffee-mug:before { content: ""; }
.icons3-soda-pop:before { content: ""; }
.icons3-add:before { content: ""; }
.icons3-x:before { content: ""; }
.icons3-magnifying-glass:before { content: ""; }
.icons3-ligtning-bolt:before { content: ""; }
.icons3-shirt:before { content: ""; }
.icons3-task-complete:before { content: ""; }
.icons3-hammer:before { content: ""; }
.icons3-phone:before { content: ""; }
.icons3-tag:before { content: ""; }
.icons3-info:before { content: ""; }
.icons3-dribbble:before { content: ""; }
.icons3-caution:before { content: ""; }
.icons3-ipod-gen1:before { content: ""; }
.icons3-bar-chart:before { content: ""; }
.icons3-skull-and-crossbones:before { content: ""; }

/* -----------------------------------------
   Shared Styles
----------------------------------------- */    

    body {
        background:#e8e5dc url(/images/body-gradient-white.png) center /*59px*/ 0 no-repeat;
        color:#647c6c;
    }

    a {
/*        color:#ff7c11;*/
        color: #647B7C;
        font-weight: bold;
        cursor:pointer;
    }
    
        a:hover {
            color:#647c6c;
        }
        
        a.active{
            color: #333333;
            background: #000;
            color: #fff;
            padding: 1px 3px 2px 3px;
            border: 0;
            border-radius: 2px;            
        }
        .bold{
            font-weight: bold;
        }
        .center{
            text-align: center;
        }
    small {
        font-size:80%;
    }

    .hide_me {
        display:none;
    }
    
    .clear {
        clear:both;
    }
    
    .add_link {
        float:left;
        margin:20px 0 0 30px;
    }

    .ec-highlight {
        background:#FCD27E !important;
    }
    
    .colored-ui {
    
    }
    
    .blank-ui {
        
    }
    
    h1,h2,h3,h4,h5{
        font-family: 'GibsonSemiBold';
    }
    @font-face {
    	font-family: 'ChunkFiveRegular';
    	src: url('../css/Chunkfive-webfont.eot');
    	src: url('../css/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
    	     url('../css/Chunkfive-webfont.woff') format('woff'),
    	     url('../css/Chunkfive-webfont.ttf') format('truetype'),
    	     url('../css/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    	font-weight: normal;
    	font-style: normal;
	
	}

    :focus {
        box-shadow:0 0 4px #FFB32C;
    }
    
    input,textarea {
        border:1px solid #999999;
        border-radius:0px;
        padding:6px 4px;

    }
    
    input.input-text.oversize:focus,
    textarea.oversize:focus,
    input.input-text:focus,
    textarea:focus,
    div.form-contact input.input-text:focus,
    input:focus {
        background:#fff;
        box-shadow:0 0 4px #FFB32C;
        border:1px solid #FFB32C;
        outline:none;
    }
    
 
    select:focus {
        box-shadow:0 0 4px #FFB32C;
       /* border:1px solid #32b665;
        outline:none*/
    }

    /* event access */
    .access {
        font-size:11px;
        /*padding:2px 4px;*/
        margin-top:2px;
        border-radius:4px;
        color:#777;
    }
    
        .access.owner {
            
            float:left;
        }
        
    /* the checkbox */
    
    a.check-box {
        width:22px;
        height:22px;
        background:transparent url(../images/ui/checkbox-sprite.gif) 0 0 no-repeat;
        float:left;
    }
    
        a.check-box.checked,
        div.green-arrow-complete a.check-box {
            background-position:0 -28px;
        }
        
    .loading,
    .ui-autocomplete-loading {
        background:#fff url(../img/ajax-loader2.gif) 98% center no-repeat !important;
    }
    
    .edit {
        background: #EEE;
        padding: 1px 4px;
        border-radius: 4px;
        font-size: 12px;
    }
    
    .form-right.error-border {
        border:1px solid #C30000;
        float:right;
    }

        .error-msg,
        .error-message,
        .required {
            color:#C30000;
        }
        
            .error-msg {
                float:left;
            }

    div#flashMessage.error_area {
        display: block;
        padding: 6px 7px;
        font-weight: bold;
        font-size: 13px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        position: relative;
        text-align:center;
        width:100%;
        position:absolute;
        top:59px;
        left:0;
        background:#c00000;
        color:#fff;
    }
        
        div#flashMessage.success_area {
            background:#7FAE00;
        }
    
    .optional-link {
        color:#999;
    }
    
    /* UI Utilities */
    
    .arrow.white {
        width:12px;
        height:12px;
        background:transparent url(../images/ui/arrows.png) no-repeat;
        display:block;
        float:right;
        margin-top:2px;
    }
    
        .arrow.white.up {
            background-position:0 0;
        }
        .arrow.white.down {
            background-position:-12px 0;
        }
        .arrow.white.left {
            background-position:-24px 0;
        }
        .arrow.white.right {
            background-position:-24px -12px;
        }
        
    /* some button styles */
    .btn {
        border-radius: 4px 4px 4px 4px;
        cursor: pointer;
        padding:7px 10px 7px 7px;
        white-space: nowrap;
    }

    .tight {
        padding:2px 8px 1px 7px;
    }

    .big.btn {
        font-size: 16px;
        padding: 8px 16px;
        font-size: 20px;
        padding: 10px 20px;
/*        font-family: 'GibsonSemiBoldItalic' !important;
        text-transform: uppercase;*/
        font-family: 'GibsonSemiBold' !important;
        box-shadow: 0 0 0 1px #fff, 2px 2px 0 rgba(0,0,0,.8);
        border:none;
        border-radius: 0;
        transition:all .1s linear;
        -webkit-transition:all .1s linear;
        -moz-transition:all .1s linear;
        -ms-transition:all .1s linear;
        -o-transition:all .1s linear;
    }

        .btn:hover {
            color:#ffffff;
        }

            a.btn:hover {
                text-decoration:none;
            }

        .btn:active {
            box-shadow:0 4px 8px -5px #777 inset;
        }

        .orange {
            color: #ffffff;
            cursor: pointer;
            padding:7px 10px 7px 7px;
            text-shadow: -1px -1px 0 #EB9B21;
            border: 1px solid #D88F1F;
            background: #FF7C11;
            /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCB040', endColorstr='#F3AB3C'); /* for IE 
            background: -webkit-gradient(linear, left top, left bottom, from(#FE9139), to(#FF7C11)); /* for webkit browsers */
            background: -moz-linear-gradient(top,  #FE9139,  #FF7C11); /* for firefox 3.6+ */*/
        }

            .orange:hover {
                border: 1px solid #CE881D;
                background: #EBA53A;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCB040', endColorstr='#EBA53A'); /* for IE */
                background: -webkit-gradient(linear, left top, left bottom, from(#FF7C11), to(#FE9139)); /* for webkit browsers */
                background: -moz-linear-gradient(top,  #FF7C11,  #FE9139); /* for firefox 3.6+ */
            }

        .gray {
            color:#777;
            text-shadow:1px 1px 0 #ffffff;
            float:left;
            border:1px solid #bbb;
            background:#F0EFEC;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0EFEC', endColorstr='#D0D0D0'); /* for IE */
            background: -webkit-gradient(linear, left top, left bottom, from(#F0EFEC), to(#D0D0D0)); /* for webkit browsers */                    background: -moz-linear-gradient(top,  #EDEDED,  #D0D0D0); /* for firefox 3.6+ */
            background: -moz-linear-gradient(top,  #F0EFEC,  #D0D0D0); /* for firefox 3.6+ */
            transition:all .15s linear;
            -webkit-transition:all .15s linear;
            -moz-transition:all .15s linear;
        }

            .gray.active,
            .gray.active:hover {
                background:#F0EFEC;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D0D0D0', endColorstr='#F0EFEC'); /* for IE */
                background: -webkit-gradient(linear, left top, left bottom, from(#D0D0D0), to(#F0EFEC)); /* for webkit browsers */                    background: -moz-linear-gradient(top,  #EDEDED,  #F0EFEC); /* for firefox 3.6+ */
                background: -moz-linear-gradient(top,  #D0D0D0,  #F0EFEC); /* for firefox 3.6+ */
                box-shadow:0 0 6px rgba(0,0,0,.2) inset;
            }

            .gray:hover {
                color:#777;
                text-shadow:1px 1px 0 #ffffff;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#D0D0D0'); /* for IE */
                background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#D0D0D0)); /* for webkit browsers */                    background: -moz-linear-gradient(top,  #EDEDED,  #D0D0D0); /* for firefox 3.6+ */
                background: -moz-linear-gradient(top,  #fefefe,  #D0D0D0); /* for firefox 3.6+ */
            }

        .green {
            color:#ffffff;
            text-shadow:1px 1px 0 #32b665;
            float:left;
            border:1px solid #32b665;
            background:#32b665;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32b665', endColorstr='#289953'); /* for IE */
            background: -webkit-gradient(linear, left top, left bottom, from(#32b665), to(#289953)); /* for webkit browsers */                    background: -moz-linear-gradient(top,  #EDEDED,  #D0D0D0); /* for firefox 3.6+ */
            background: -moz-linear-gradient(top,  #32b665,  #289953); /* for firefox 3.6+ */
        }

            .green:hover {
                background:#32b665;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75d098', endColorstr='#289953'); /* for IE */
                background: -webkit-gradient(linear, left top, left bottom, from(#75d098), to(#289953)); /* for webkit browsers */                    background: -moz-linear-gradient(top,  #EDEDED,  #D0D0D0); /* for firefox 3.6+ */
                background: -moz-linear-gradient(top,  #75d098,  #289953); /* for firefox 3.6+ */

            }

        .pressed-button,
        .pressed-button:hover {
            box-shadow:1px 1px 5px #888 inset;
        }

        .blue {
            background:#00A6FC;
            color:#fff;
        }

            .blue:hover {
/*                background: yellow;*/
/*                color: black;*/
background: #FFB32C;
            }
        
        .orange {
            border: 1px solid #D88F1F;
            background: #FCB040; 
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCB040', endColorstr='#F3AB3C'); /* for IE */
            background: -webkit-gradient(linear, left top, left bottom, from(#FCB040), to(#F3AB3C)); /* for webkit browsers */
            background: -moz-linear-gradient(top,  #FCB040,  #F3AB3C); /* for firefox 3.6+ */ 
        }
        
            .orange:hover {
                border: 1px solid #CE881D;
                background: #EBA53A; 
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCB040', endColorstr='#EBA53A'); /* for IE */
                background: -webkit-gradient(linear, left top, left bottom, from(#FCB040), to(#EBA53A)); /* for webkit browsers */
                background: -moz-linear-gradient(top,  #FCB040,  #EBA53A); /* for firefox 3.6+ */ 
            }
            
        /* save buttons */
        div.actions {
            float:right;
        }
            div.actions .save,
            div.actions .cancel {
                float:left;
                margin-left:10px;
            }
            
                div.actions .save {
                    float:right;
                    padding:2px 4px;
                    border:1px solid #30AD60;
                    background:#FFB32C;
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#37C970', endColorstr='#32b665'); /* for IE */
                    background: -webkit-gradient(linear, left top, left bottom, from(#37C970), to(#32b665)); /* for webkit browsers */
                    background: -moz-linear-gradient(top,  #37C970,  #32b665); /* for firefox 3.6+ */
                    border-radius:4px;
                    color:#fff;
                    font-weight: bold;
                    text-shadow: 1px 1px 0 #2CA159;
                    font-size: 12px;
                }
                
                    div.actions .save:hover {
                        border:1px solid #2CA159;
                        box-shadow:0 4px 2px -4px #aaa;
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38D275', endColorstr='#32b665'); /* for IE */
                        background: -webkit-gradient(linear, left top, left bottom, from(#38D275), to(#32b665)); /* for webkit browsers */
                        background: -moz-linear-gradient(top,  #38D275,  #32b665); /* for firefox 3.6+ */    
                    }
                    
                    div.actions .save:active {
                        border:1px solid #2CA159;
                        box-shadow:0 4px 8px -5px #777 inset;
                    }
                
                div.actions .cancel {
                    padding:2px 4px;
                    color:#c00000;
                    font-size: 11px;
                    margin-top:1px;
                }
                    div.actions .cancel:hover {
                        text-decoration:underline;
                    }
                    
        #sidebar-spinner {
            margin-left:30px;
        }

/* -----------------------------------------
   Global Header
----------------------------------------- */

    div.global-header {
        color:#ffffff;
        padding:15px 20px;
        background: #00A6FC;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0192DD', endColorstr='#00A6FC'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#0192DD), to(#00A6FC)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #0192DD,  #00A6FC); /* for firefox 3.6+ */
        box-shadow:0 -8px 10px -10px #333333 inset;
        border-bottom:1px solid #333333;
    }

/*    div.global-header #mainNavRow{
        margin-left: 0;
    }*/

    div.global-header #mainNavRow .three.columns{
        margin-top:10px;
    }    
    div.global-header a.logo img {
        margin-top:7px;
        float:left;
		font-size:24px;

		color:#000;
		font-weight:bold;
		text-shadow:1px 1px 1px #fff;
    }
    div.global-header a.logo{
        color:#ffffff;
        font-weight:bold;
        font-family: 'Impact';
        /*font-family:'Shadows Into Light Two';*/
        font-size:32px;
    }
    div.global-header a:hover{
        text-shadow: 0 0 20px #fff;/*rgba(5, 194, 234, .6);*/
        text-decoration: none;
        transition: all .25s linear;
        -webkit-transition: all .25s linear;
        -moz-transition: all .25s linear;
    }

    nav.global {
        margin:2px 0 0 0;
        padding-left: 0;
     }
    
        nav.global a {
            float:left;
            color:#fff;
            margin-right:40px;
            padding:2px 0 2px;
            font-size: 16px;
            border-bottom: 1px solid transparent;
        }
        
        nav.global a:hover {
            transition: all .25s linear;
            -webkit-transition: all .25s linear;
            -moz-transition: all .25s linear;       
            border-bottom-color: rgba(255,255,255,.2);
        }

        nav.global a.active {
            color:#fff;
            font-weight:bold;
        }
            
                nav.global > div > ul:hover > li > a.active {
                    margin-right:40px;
                }

                nav.global li.has-children{
                    position: relative;
                }
                 nav.global li.has-children ul{
                    display: none;
                    transition: all .25s linear;
                    -webkit-transition: all .25s linear;
                    -moz-transition: all .25s linear;       
                    position: absolute;
                    top:28px;
                    left: -30px;
                    padding: 2px 4px;
                    background: #333333;
                    border-radius: 0 3px 3px 3px;
                    box-shadow: 0px 2px 10px rgba(0,0,0,.5);
                 }



 
                nav.global li.has-children:hover ul{
                    display: block;
                    transition: all 1.25s linear;
                    -webkit-transition: all 1.25s linear;
                    -moz-transition: all 1.25s linear;       
                }
                nav.global li.has-children ul li{
/*                    border-bottom:1px solid #f2f2f2;*/
                    width: 100%;
                }
                nav.global li.has-children ul li:hover{
                    background: #999;
                }
                nav.global li.has-children ul li a{
                    padding: 7px 5px;
                    font-size: 14px;
                    width: 100%;
                    margin-left: 0;
                }
                nav.global li.has-children ul li a:last-child{
                    border-bottom:none;
                }
                #subnav{
                    background: #333333 url(/images/black-linen.png);
                    border-top: 1px solid #000000;
                    border-bottom: 1px solid #000000;
                    margin-bottom: 40px;
                    height: 35px;
/*                    width: 100%;*/
                    padding-right: 40px;
                }
                #subnav a{
                    color: #ffffff;
                }
                #subnav #searchBar{
                    width: 200px;
                    margin-top: 3px;
                    border-radius: 2px;
                    margin-left: 30px;
                }
                #subnav .logged-in{
                    color: #ffffff;
                }

        a#accountName {
            float:right;
            margin-top:12px;
            margin-right:30px;
            color:#eee;
        }

            a#accountName:hover {
                color:#fff;
            }
            
            a#accountName img {
                margin-right:10px;
                width:20px;
                height:20px;
                float:left;
            }
            
        div#accountDropDown{
            float: left;
            right:-12px;
            top:50px;
            position:absolute;
        }
            div.dropDownPointer{
                margin: 0 auto;
                width: 120px;
                position:relative;
                top:-21px;
            }
            div.dropDownArrow{
                left:100px;
                border-color: transparent transparent #FFFFFF;
                border-style: solid;
                border-width: 12px;
                cursor: pointer;
                font-size: 0;
                left: 50%;
                line-height: 0;
                margin: 0 auto;
                position: absolute;
                top: 0;
                width: 0;
                z-index: 1002;
                left:60px;
            }
            div.dropDownArrowBorder{
                border-color: transparent transparent #CCCCCC;
                border-style: solid;
                border-width: 12px;
                top: -2px;
                left:60px;
                z-index: 1001;
            
                position:absolute;
                margin:0 auto;
                line-height:0;
                width:0;
            
            }
            div.dropDownContent{
                position:absolute;
                background-color:#fff;
                border:1px solid #ccc;
                box-shadow: 0 1px 6px #999;
                border-radius:4px;
                z-index:1000;
                width:130px;
                padding:10px;
                -webkit-box-shadow: #999 0px 3px 25px 0px;
            
            }
            div#accountDropDown ul{
                text-align:left;
                list-style-type:none;
            }
            div#accountDropDown li{
                border-bottom:1px dotted #CCCCCC;
                line-height:22px;
            }
            div#accountDropDown ul li a{
                font-size:12px;
                color:#006837;
            }
            nav.global .nav-links li{
                display: inline;
                float: left;
            }
                   
         nav.global div ul li ul.subnav {
            position:absolute;
            top: 35px;
            left: -30px;
            height: auto;
            z-index: 60;
            width: 185px;
            background:#fff;
            border-right:1px solid #ddd;
            border-bottom:1px solid #ddd;
            border-left:1px solid #ddd;
            box-shadow:2px 2px 4px #ccc;
        }
            nav.global div:hover ul li ul.subnav {
                /*display:block;*/
            }
            
                nav.global div ul li ul.subnav:hover {
                    /*display:block;*/
                }
                
                nav.global div ul li ul.subnav li {
                    float:left;
                    margin-bottom:0;
                }
                
                nav.global div ul li ul.subnav li a {
                    color:#333;
                }
                
                    nav.global div ul li ul.subnav li a:hover {
                        color:#32b665;
                    }
/*                     nav.global ul li a.has-children:hover nav.global ul.sub-section{
                        display:block;
                     }*/
                    nav.global ul.sub-section{
                        position: absolute;
                        z-index: 1;
                        background-color: white;
                        top: 50px;
                        left:-35px;
                        width:300px;
                  }
                nav.global ul.sub-section li{
                    float:left;
                }
                nav.global ul.sub-section li a{
                    color: #05C2EA;
                }              



/** MEMES BEGIN **/
#container{
	min-height:650px;
}
.step1-img{
	overflow:hidden;
}

.control-panel{
	background-color:#ccc;
	padding:5px 10px;
	border:1px solid #999;
}
.bubble-font{
	color:#fff;
    text-shadow: 3px 3px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; 
    font-family: 'Impact' /*, Arial, sans-serif;*/;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.panel-ct{
    float: left;
	clear:both;
	margin-bottom:15px;
  position: relative;
  width: 100%;
}

.panel-ct span{
	float:left;
}
.panel-ct select{
    display: inline-block;
}
.panel-ct select.league-select{
    float:left;
    margin-top:0px;
}
.panel-ct input[type="submit"]{
  /*  font-size:18px;*/
    padding:19px;
    width: 75%;
    font-size: 1.2em;
/*    left:13%;*/
}
#meme-title{
    width:250px;
}

.no-float{
float:none !important;
}	
span.delete{ 
  top: 0;
  right: -5px;
    position: absolute;
}
.delete{
    color:#ff0000;
}
.delete:hover{
    color:#ff0000;
}
.control-panel label{
	float:left;
	font-weight:bold;
	width:90px;
}

.panel-bottom{
	margin-top:10px;
	border-top: 1px solid #999;

}
.font-size-auto{
	font-size:inherit;
}
.caption-block{
	clear:both;
}
.upper{
	text-transform:uppercase;	
}
/*.lower{
	text-transform:capitalize;	
}*/

.meme-mini img{
	border:1px solid #ccc;
	width:150px;
	height:150px;
}
.step1-img{
	float:left;
	position:relative;
}
.row-top h2{
	text-align:center;
}
.meme-view{ 
	text-align:center;
}
.meme-view img{
	box-shadow:2px 1px 6px 2px #555
}
.stats-sidebar{ 
	background: none;
    border-bottom: 1px solid #cccccc;
    color: #000000;
    padding: 20px 10px;
    text-align: left;
}
.button{
    border-radius: 2px;
	text-transform:uppercase;
	font-size:14px;
    background: #FFB32C;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFB32C), to(#FFAA12)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #FFB32C,  #FFAA12); /* for firefox 3.6+ */*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFB32C', endColorstr='#FFAA12'); /* for IE */
}
.button:hover{
    background: #FFAA12;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFAA12), to(#FFB32C)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #FFAA12,  #FFB32C); /* for firefox 3.6+ */*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFAA12', endColorstr='#FFB32C'); /* for IE */   
    text-decoration: none;
}
.button:active{
    box-shadow:0 4px 8px -5px #777 inset;
}
.push-right{float:right;}

.delete-button{
	/*background-color:#333;*/
	padding:0 5px;
	border-radius:3px;
	color:#333;
}
.delete-button:hover{
	color:#fff;
	text-decoration:none;
	background-color:#333;
}
input.caption-txt-input{
   /* width: 70%;*/
    font-size: 14px;
}
textarea.caption-txt-input{
    height:50px;
}

#add-another-caption{
	background-color:#05c2ea;
	padding:2px 5px;
	border-radius:3px;
	color:#fff;
	font-weight:bold;
}
.action-link{
	background-color:#32b665;
	padding:2px 5px;
	border-radius:3px;
	color:#fff;
	font-weight:bold;
}
.action-link:hover{
	color:#fff;

}

.add-caption{
	float:left;
	margin-right:60px;
    margin-top: 40px;
    width:100%;
}
a:hover{
    text-decoration:underline;
}

.meme-entry img.meme{
	/*width:150px;
	height:150px;*/
	border:1px solid #cccccc;
	cursor:pointer;
	opacity:0.9;
    box-shadow:2px 2px 6px rgba(0,0,0,.7);
    -webkit-box-shadow:2px 2px 6px rgba(0,0,0,.7);
    -moz-box-shadow:2px 2px 6px rgba(0,0,0,.7);

/*    height:155px;*/
/*    width:300px;*/
}
.meme-entry .title{
    text-align:center;
}
.meme-entry.small{
    min-height: 220px;
}
.meme-entry.small img.meme{
    width:150px;
}
.meme-entry img.meme:hover{
	border:1px solid #333;
	opacity:1;
    box-shadow:3px 3px 3px #000;

} 
.action-box{
    position: absolute;
   /* width: 105px;*/
   bottom:5px;
   right:0px;
    border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    z-index: 2;
    border: 1px solid #CCCCCC;
    padding: 5px 0;
  /*  box-shadow: 2px 2px 2px #999999;*/
    width:45%;
    text-align:center;
    background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #eeeeee,  #cccccc); /* for firefox 3.6+ */*/

}
.action-box .star{
    margin:auto;
}
#team-div{

}
ul.league-list{

}
ul.league-list li{

}

#containable div.caption{
    width:100%;
    cursor:move;
    position:absolute;
    /*padding:8px 3px;*/
/*    padding:0;*/
    padding:0px 3px;
    box-sizing:border-box;
    border:1px solid transparent;
}
#containable div.caption:hover{
    border:1px solid #32b665;
    background: rgba(0,0,0,.2);
}
#containable div.caption span{
    width:100%;
    height:auto;
    display: inline-block;
    line-height: 1em;
}
#containable div.caption pre{
display:inline-block;
/* width:auto;height:inherit;display: block*/
}
.caption.font-size-auto.bubble-font.upper.bottom{
    bottom: 3px;
}




/** FOOTER CODING ***/
footer {
    background: #333333 url(/images/black-linen.png);
    padding: 8px;
    /*margin: -200px 0 0 0;*/
    box-shadow: 0 0 10px black inset;
    box-sizing: border-box;
    height: auto;
    float: left;
    width: 100%;
    color: #DDDDDD;
    font-weight: bold;
    text-shadow: -1px -1px 0 black;
    transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
}

.footerLinks{
/*  clear:both;
    background:-moz-linear-gradient(center top , #00A6FC, #0192DD) repeat scroll 0 0 transparent;*/
    padding:15px 15px 39px 0px;
/*    border-top:1px solid #999;*/
}
.footerLinks ul{
    float:right;
}

.footerLinks li{
    float:left;
    margin: 0px 30px;
}

.copyright{
    color:#fff;
}
.footerLinks a{
    color:#fff;
}
/*** END FOOTER CODING ***/

#tag-search{
    width:200px;
}

/** Tag Display **/
ul.tag-list li{
    display: inline-block;
}
ul.tag-list li a{
    padding:2px 4px;
    color:#ffffff;
    background: #999;
    text-decoration: none;
    border-radius: 3px;
}
ul.tag-list li a:hover{
    background: #333333;
}
/** End Tag Display **/

#createYourOwn{
    padding: 7px 10px;
    margin-left: 0;
    margin-top: 3px !important;
    text-shadow: none;
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    text-transform: uppercase;
}
#errorMessage{
  position: absolute;
  background: tomato;
  color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
  right: 10px;
  width: 250px;
  font-weight: bold;
}