.sorting-links{
    margin: 21px 0 18px;

}
.sorting-links a{
 
    padding: 1px 3px 2px 3px;
    border-radius: 2px;
    border: 0;
    font-size: 14px;
    margin:0 10px;
    text-decoration: none;
    transition:all .1s linear;
    -webkit-transition:all .1s linear;
    -moz-transition:all .1s linear;
    -ms-transition:all .1s linear;
    -o-transition:all .1s linear;
}
.sorting-links a:hover{
    color:#ffffff;
    background: #303030;
}
#sportSelect,#leagueSelect,#teamSelect{
    clear:none;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
}
.meme-entry-wrap{
  min-height: 370px;
}
.meme-entry{
	margin:0 10px 0 0;
    position:relative;
    min-width:100px;
    max-width:300px;
}
.meme-entry:hover div.action-box{
    display:block;
}
a.delete-meme{
    position: absolute;
    top:0;
    left:0;
}
.meme-entry:hover a.delete-meme{
    display: block;
}

.child-count{
    position:absolute;
    right:2px;
    top:0px;
}
.meme-entry:hover .child-count{
    display:block;
}
.meme-entry:nth-child(4n){
    clear:left;
}
.meme-entry img.meme{
	/*width:150px;
	height:150px;*/
	border:1px solid #cccccc;
	cursor:pointer;
	opacity:0.9;
    box-shadow:2px 2px 6px rgba(0,0,0,.7);
    -webkit-box-shadow:2px 2px 6px rgba(0,0,0,.7);
    -moz-box-shadow:2px 2px 6px rgba(0,0,0,.7);

/*    height:155px;*/
/*    width:300px;*/
}
.meme-entry .title{
    text-align:center;
}
.meme-entry.small img.meme{
    width:100px;
}
.meme-entry .star img{
    width:17px;
}
.meme-entry img.meme:hover{
	border:1px solid #333;
	opacity:1;
    box-shadow:3px 3px 3px #000;

} 
.action-box{
    position: absolute;
    bottom:5px;
    right:0px;
    z-index: 2;
    border-top: 1px solid #999999;
    width:100%;
    text-align:center;
    padding: 10px;
    box-sizing:border-box;
    background: rgba(255,255,255,0.9);
}
.action-box .star{
    margin:auto;
}
.action-box .favorite a{
    font-size: 28px;
    transition:all .35s linear;
    -webkit-transition:all .35s linear;
    -moz-transition:all .35s linear;
    -ms-transition:all .35s linear;
    -o-transition:all .35s linear;
    color: #999999;
    margin-top: 2px;
    margin-right: 4px;
    float: left;
    line-height: 1;
}

.action-box .favorite a.star:hover, .action-box .favorite a.star.favorite{
    color: rgb(173,154,52);
}
.action-box .favorite a.boo:hover,.action-box .favorite a.boo.active{
    color: tomato;
}
.action-box .favorite a.root.active,.action-box .favorite a.root:hover{
    color: #00A6FC;
}
.action-box .favorite a:hover{
    text-decoration: none;
}