#signup-container{
/*	padding: 30px 40px;*/
	background: #ffffff;
	border:1px solid #333333;
	float: left;
	margin-left: 120px;
	box-shadow: 1px 1px 5px #000000;
}
#signup-container h3{
	text-transform: uppercase;
	font-size: 22px;
}
#signup-container label{
	color: #333333;
	font-weight: bold;
	margin:10px 0 0 0;
}
#signup-container input[type='text'],#signup-container input[type='password']{
	width: 250px;
}
#signup-container .header{
	background: #eeeeee;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 7px;
	text-align: center;
	box-shadow: 1px 1px 5px #000000;
}
#signup-container .header.first{
	border-right: 1px solid #cccccc;
}
#signup-container .header h3{
	color: #333;
	font-family: 'gibsonSemiBold';
}
#signup-container input[type="submit"]{
	width:100%;
}
#signup-container form{
	margin-top:40px;
}
.reg-form{
	border-right: 1px solid #cccccc;
}
.reg-form,.login-form{
	padding: 30px 40px;
	position: relative;
}
.text-top{
margin-top: 40px;
}